############################
# Don't commit save files! #
############################
*.sav
SAVE/*
*.sav
SAVE/autosave.sav
SAVE/autosave01.sav
demoheader.dmf
config.cfg
user.scr
InGameDialogConfig.vdf
